<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% include 'includes/_navbar.html' %}
{#<form method="post">#}
{##}
{#    <div class="mx-auto" style="width: 200px;">#}
{#        <div></div>#}
{#        Personal Information#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="formGroupExampleInput">First Name</label>#}
{#        <input name="firstName" type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="formGroupExampleInput2">Last Name</label>#}
{#        <input name="lastName" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last Name">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="formGroupExampleInput">Gender</label>#}
{#        <select name="gender" class="form-control" id="formGroupExampleInput"#}
{#                placeholder="Gender">#}
{#            <option value="na">Not Applicable</option>#}
{#            <option value="f">Female</option>#}
{#            <option value="m">Male</option>#}
{#        </select>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="formGroupExampleInput2">Phone Number</label>#}
{#        <input name="phoneNumber" type="text" class="form-control" id="formGroupExampleInput2" placeholder="0712345678">#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="exampleInputEmail1">Email address</label>#}
{#        <input name="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"#}
{#               placeholder="Enter email">#}
{#        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone#}
{#            else.#}
{#        </small>#}
{#    </div>#}
{##}
{#    <div class="form-group form-check">#}
{#        <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#        <label class="form-check-label" for="exampleCheck1">Remember Me</label>#}
{#    </div>#}
{#    <button type="submit" class="btn btn-primary">Submit</button>#}
{#</form>#}
{#<button type="button" class="btn btn-primary">Register</button>#}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register">
    Register
</button>


{#    modal for employee#}
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">First Name</label>
                        <input name="fname" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Employee">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Last Name</label>
                        <input name="lname" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="KRA pin">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Gender</label>
                        <select name="gender" class="form-control" id="formGroupExampleInput"
                                placeholder="Gender">
                            <option value="na">Not Applicable</option>
                            <option value="f">Female</option>
                            <option value="m">Male</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Email</label>
                        <input name="email" required type="email" class="form-control" id="formGroupExampleInput"
                               placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Phone Number</label>
                        <input name="national_id" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="National Id">
                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Basic Salary</label>
                            <input name="basic_salary" required type="number" class="form-control"
                                   id="formGroupExampleInput"
                                   placeholder="Basic Salary">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Benefits</label>
                            <input name="benefits" required type="number" class="form-control"
                                   id="formGroupExampleInput"
                                   placeholder="Benefits">
                        </div>
                    </div>
                    <div class="form-group">

                        <input type="submit" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>